
#fundo{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg,black,#9bcbdf);
  z-index: 10;
}
#Estrutura{
  width: 100vh;height: 50vh;
  padding: 30px 30px 20px 30px;
  background-color: aquamarine;
  display: inline-block;
  position: absolute; left: 50vh; top: 30vh;
  border-radius: 10px;
  background-image: linear-gradient(45deg,rgb(121, 146, 153),#55c5e3);
  color: aliceblue;
  box-shadow: 1px 1px 20px #fcfeff;
}